<!-- /templates/page_about.liquid -->
<div class="about-wrapper">
	<div class="about-item-left about-item about-content">
		{% section 'about-text' %}
	</div>
	<div class="about-item-right about-item">
		{% section 'about-image' %}
	</div>
</div>

